{% block management %}
  <h3>Account Management</h3>
  <small id="usernameHelp" class="form-text text-muted">
    Make changes to your email, password and account type. This information is private and won’t 
    show up in your public profile.
  </small>
  <hr>
  <form>
    <div class="form-group row">
      <div class="form-group col-sm-6"">
        <label class="d-block mb-2"><h5>Change Email</h5></label>
        <input type="text" class="form-control mb-3" id="email" aria-describedby="emailHelp" placeholder="Enter your email" 
          value="">
          <button type="button" class="btn btn-custom btn-success mb-1 mt-1">Save Email</button>
        </div>
    </div>
  </form>
  <hr>
    <form >
      <div class="form-group row">
        <div class="form-group col-sm-4"">
          <label class="d-block mb-2"><h5>Change Password</h5></label>
          <input type="password" class="form-control  mb-3" id="oldpassword" name="oldpassword"  data-toggle="password"
            aria-describedby="passwordHelp" placeholder="Enter your old password" value="">
            <input type="password" class="form-control mb-3" id="password" name="password"  data-toggle="password"
            aria-describedby="passwordHelp" placeholder="New password" value="">
            <input type="password" class="form-control mb-3" id="newpassword" name="newpassword"  data-toggle="password"
            aria-describedby="passwordHelp" placeholder="Confirm new password" value="">
              <button type="button" class="btn btn-custom btn-success mb-1 mt-1">Save Password</button>
        </div>
      </div>                  
    </form>
    <hr>
  <form>
  <div class="form-group">
      <label class="d-block text-danger">Delete Account</label>
      <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
    </div>
    <button type="button" class="btn btn-custom btn-danger mb-1">Delete Account</button>
  </form>
{% endblock %}

