{% extends 'index.html' %}
{% block content %}

<div class="container px-5">
    <div class="row gutters-sm">
      <div class="col-md-5 mx-auto">
        <div class="card">
          <div class="card-body tab-content">

            <div class="mb-4">
              <h5>Forgot Password?</h5>
              <p class="mb-2">Enter your registered email ID to reset the password
              </p>
            </div>
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
              <!-- Register buttons -->
              <div class="text-center pills-register">
                <p>Don't have an account? <a href="/account/register/">Register</a></p>
              </div>
            </form>

        </div>
      </div>
  </div>
</div>
{% endblock %}

