{% block security %}
  <h3>Security</h3>
  <hr>
  <form>
    <div class="form-group">
      <label class="d-block mb-2"><h5>Two Factor Authentication</h5></label>
      <div class="small text-muted mb-3">Two-factor authentication adds an additional layer of security 
        to your account by requiring more than just a password to log in.
      </div>
      <button type="button" class="btn btn-custom btn-success mb-1">Enable two-factor authentication</button>
  </div>
  </form>
  <hr>
  <form>
    <div class="form-group mb-0">
      <label class="d-block mb-2"><h5>Sessions</h5></label>
      <div class="small text-muted mb-3">This is the list of devices that have logged into your account.
        Revoke any sessions that you do not recognize.</div>
      <ul class="list-group list-group-sm">
        <li class="list-group-item has-icon">
          <div>
            <h6 class="mb-0">San Francisco City 190.24.335.55</h6>
            <small class="text-muted">Your current session seen in United States</small>
          </div>
          <button class="btn btn-light btn-sm ml-auto" type="button">More info</button>
        </li>
      </ul>
    </div>
  </form>
{% endblock %}
